body {
  background-color: #ADD8E6;
  height: 80vh;
  padding: 0;
  margin: 0 auto;
}

header {
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 48px;
}

span {
  font-size: 22px;
}

input {
  width: 360px;
  border: none;
  background-color: mintcream;
  height: 50px;
  font-size: 24px;
}

#input-field {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

#output-field {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 20px;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;
}

/*
#input-field {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  
  width: 230px;
  margin-right: -10px;
  padding-left: 10px;
}

#output-field {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  
  width: 130px;
  padding-right: 10px;
}
*/

/* On screens that are 550px or less */
@media screen and (max-width: 550px) {
  h2 {
    font-size: 36px;
  }
  span {
    font-size: 18px;
  }
  input {
    width: 310px !important;
    height: 45px;
    font-size: 22px;
  }
  /*
  input#input-field {
    width: 66%;
  }
  input#output-field {
    width: 34%;
  }
  */
  button.btn {
    margin: 6px;
    width: 60px;
    height: 60px;
    font-size: 24px;
    vertical-align: middle;
  }
  button.btn-op-q {
    width: 138px;
    height: 60px;
    vertical-align: middle;
  }
}

/* On screens that are 400px or less */
@media screen and (max-width: 400px) {
  h2 {
    font-size: 28px;
  }
  span {
    font-size: 14px;
  }
  input {
    width: 250px !important;
    height: 40px;
    font-size: 20px;
  }
  /*
  input#input-field {
    width: 66%;
  }
  input#output-field {
    width: 34%;
  }
  */
  button.btn {
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 22px;
    vertical-align: middle;
  }
  button.btn-op-q {
    width: 115px;
    height: 50px;
    vertical-align: middle;
  }
}

.btn {
  margin: 7px;
  width: 70px;
  height: 70px;
  font-size: 28px;
  vertical-align: middle;
}

.btn-op-q {
  width: 160px;
  height: 70px;
  font-size: 28px;
  vertical-align: middle;
}

footer {
  margin-top: 30px;
}

#my-link {
  color: inherit;
  text-decoration: none;
}

#my-link:hover {
  color: orangered;
}